body {
  background-image: url("../images/blu_stripes.png");
  background-size: 100px 100px;	
}

#head {
  height: -25px;
}

#title_logo {
  background-color: #8dbdd8;
  padding: 20px 0 10px 0;
  border-bottom: 5px solid #4390bc;
}

#title {
  font-family: audiowide;
  text-align: left;
  padding: 25px 0 0 0;
}

h5, h6 {
  font-weight: bold;
  padding: 40px 0 0 0;
}


#main {
   padding: 0px 0px 200px 20px;
   font-family: 'Open Sans';
   font-size: 12px;
   //text-align: justify;
   background-color: white;

}

#navigation{
  padding: 45px 0 0 0;
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  font-size: 15px; 


}

#add_task {
  font-family: 'Exo 2', sans-serif;
  font-weight: bold;
  text-decoration: none;
}

img {
  width: 100px;
  float: right;
}

#types li {
  display: inline-block;
}

nav ul {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none; 
  padding: 0.5em 0 0.5em 1em; 
  font-weight: bold;
}

nav ul li a:link {
  display: block;
}

nav ul li a:visited {
  display: block;
}

nav ul li a:hover {
  display: block; 
  color: #08519c;
}

nav ul li a:active {
  display: block;
}

nav ul li#iamhere a,
nav ul li#iamhere a:link,
nav ul li#iamhere a:visited,
nav ul li#iamhere a:hover { color: #ff0000; background-color: #ffffff; border: thin solid navy;}

nav ul li { margin-bottom: 0; margin-top: 0; padding-top: 0; padding-bottom: 0;}

#page_title {
  text-align: center;
}

#actions{
  float: left;
  list-style: none; 
  display: block;
  width: 60px;

}

select {
  width: 200px;
}

#subject_input {
  width: 500px;
}

#description, #notes {
  width: 500px;
  height: 200px;
}

.message {
  text-align: center;
  background-color: yellow;
}

.error {
  text-align: center;
  background-color: red;
}

// for type tags
.square {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  background: #13b4ff;
}

.purple {
  background: #ab3fdd;
}

.wine {
  background: #ae163e;
}